In [38]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [39]:
df = pd.read_csv('Toyota.csv')

In [40]:
print(df.head())

   Unnamed: 0  Price   Age     KM FuelType  HP  MetColor  Automatic    CC  \
0           0  13500  23.0  46986   Diesel  90       1.0          0  2000
1           1  13750  23.0  72937   Diesel  90       1.0          0  2000
2           2  13950  24.0  41711   Diesel  90       NaN          0  2000
3           3  14950  26.0  48000   Diesel  90       0.0          0  2000
4           4  13750  30.0  38500   Diesel  90       0.0          0  2000

   Doors  Weight
0  three    1165
1      3    1165
2      3    1165
3      3    1165
4      3    1170

In [41]:
# Min-Max Scaling
min_max_scaler = MinMaxScaler()
df[['Age', 'Price']] = min_max_scaler.fit_transform(df[['Age', 'Price']])
print(df)

      Unnamed: 0     Price       Age     KM FuelType   HP  MetColor  \
0              0  0.325044  0.278481  46986   Diesel   90       1.0
1              1  0.333925  0.278481  72937   Diesel   90       1.0
2              2  0.341030  0.291139  41711   Diesel   90       NaN
3              3  0.376554  0.316456  48000   Diesel   90       0.0
4              4  0.333925  0.367089  38500   Diesel   90       0.0
...          ...       ...       ...    ...      ...  ...       ...
1431        1431  0.111901       NaN  20544   Petrol   86       1.0
1432        1432  0.230728  0.898734     ??   Petrol   86       0.0
1433        1433  0.147425       NaN  17016   Petrol   86       0.0
1434        1434  0.103020  0.873418     ??      NaN   86       1.0
1435        1435  0.092362  0.949367      1   Petrol  110       0.0

      Automatic    CC  Doors  Weight
0             0  2000  three    1165
1             0  2000      3    1165
2             0  2000      3    1165
3             0  2000      3    1165
4             0  2000      3    1170
...         ...   ...    ...     ...
1431          0  1300      3    1025
1432          0  1300      3    1015
1433          0  1300      3    1015
1434          0  1300      3    1015
1435          0  1600      5    1114

[1436 rows x 11 columns]

In [42]:
# Z-score Scaling
scaler = StandardScaler()
df['Age_ZScore'] = scaler.fit_transform(df[['Age']])
df['Price_ZScore'] = scaler.fit_transform(df[['Price']])
print(df)

      Unnamed: 0     Price       Age     KM FuelType   HP  MetColor  \
0              0  0.325044  0.278481  46986   Diesel   90       1.0
1              1  0.333925  0.278481  72937   Diesel   90       1.0
2              2  0.341030  0.291139  41711   Diesel   90       NaN
3              3  0.376554  0.316456  48000   Diesel   90       0.0
4              4  0.333925  0.367089  38500   Diesel   90       0.0
...          ...       ...       ...    ...      ...  ...       ...
1431        1431  0.111901       NaN  20544   Petrol   86       1.0
1432        1432  0.230728  0.898734     ??   Petrol   86       0.0
1433        1433  0.147425       NaN  17016   Petrol   86       0.0
1434        1434  0.103020  0.873418     ??      NaN   86       1.0
1435        1435  0.092362  0.949367      1   Petrol  110       0.0

      Automatic    CC  Doors  Weight  Age_ZScore  Price_ZScore
0             0  2000  three    1165   -1.758189      0.763763
1             0  2000      3    1165   -1.758189      0.832715
2             0  2000      3    1165   -1.704376      0.887877
3             0  2000      3    1165   -1.596750      1.163685
4             0  2000      3    1170   -1.381498      0.832715
...         ...   ...    ...     ...         ...           ...
1431          0  1300      3    1025         NaN     -0.891089
1432          0  1300      3    1015    0.878651      0.031491
1433          0  1300      3    1015         NaN     -0.615281
1434          0  1300      3    1015    0.771025     -0.960042
1435          0  1600      5    1114    1.093904     -1.042784

[1436 rows x 13 columns]

In [44]:
# Decimal Scaling
df['Age_Decimal'] = df['Age'] / 100
df['Price_Decimal'] = df['Price'] /10000
print(df)

      Unnamed: 0     Price       Age     KM FuelType   HP  MetColor  \
0              0  0.325044  0.278481  46986   Diesel   90       1.0
1              1  0.333925  0.278481  72937   Diesel   90       1.0
2              2  0.341030  0.291139  41711   Diesel   90       NaN
3              3  0.376554  0.316456  48000   Diesel   90       0.0
4              4  0.333925  0.367089  38500   Diesel   90       0.0
...          ...       ...       ...    ...      ...  ...       ...
1431        1431  0.111901       NaN  20544   Petrol   86       1.0
1432        1432  0.230728  0.898734     ??   Petrol   86       0.0
1433        1433  0.147425       NaN  17016   Petrol   86       0.0
1434        1434  0.103020  0.873418     ??      NaN   86       1.0
1435        1435  0.092362  0.949367      1   Petrol  110       0.0

      Automatic    CC  Doors  Weight  Age_ZScore  Price_ZScore  Age_Decimal  \
0             0  2000  three    1165   -1.758189      0.763763     0.002785
1             0  2000      3    1165   -1.758189      0.832715     0.002785
2             0  2000      3    1165   -1.704376      0.887877     0.002911
3             0  2000      3    1165   -1.596750      1.163685     0.003165
4             0  2000      3    1170   -1.381498      0.832715     0.003671
...         ...   ...    ...     ...         ...           ...          ...
1431          0  1300      3    1025         NaN     -0.891089          NaN
1432          0  1300      3    1015    0.878651      0.031491     0.008987
1433          0  1300      3    1015         NaN     -0.615281          NaN
1434          0  1300      3    1015    0.771025     -0.960042     0.008734
1435          0  1600      5    1114    1.093904     -1.042784     0.009494

      Price_Decimal
0          0.000033
1          0.000033
2          0.000034
3          0.000038
4          0.000033
...             ...
1431       0.000011
1432       0.000023
1433       0.000015
1434       0.000010
1435       0.000009

[1436 rows x 15 columns]